<p style="color: green"><%= notice %></p>

<%= render @amazonloginpage %>

<div>
  <%= link_to "Edit this amazonloginpage", edit_amazonloginpage_path(@amazonloginpage) %> |
  <%= link_to "Back to amazonloginpages", amazonloginpages_path %>

  <%= button_to "Destroy this amazonloginpage", @amazonloginpage, method: :delete %>
</div>
